.gallery {
  height: 80vh;
  padding-top: 5vh;
}

.gallery__title {
  color: #fff;
  font-weight: 900;
  font-size: 4rem;
  padding: 2rem 3rem;
  margin-top: 0;
}

.gallery__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery__card {
  margin: 1rem;
  padding: 0;
  list-style-type: none;
  justify-content: center;
  border-radius: 5px;
}

.gallery--greece {
  background-image: url(../assets/images/greece.jpg);
  background-size: cover;
  background-position: center;
}

.gallery--hawaii {
  background-image: url(../assets/images/hawaii.jpg);
  background-size: cover;
  background-position: center;
}

.gallery--iceland {
  background-image: url(../assets/images/iceland.jpg);
  background-size: cover;
  background-position: center;
}

.gallery__card {
  background-color: #fff;
  padding: 0.5rem;
}

.gallery__itinerary {
  background-color: #fefaf5;
  margin: 0.5rem;
  padding: 0.5rem 3rem;
}

.gallery__itinerary--title {
  background-color: #fff;
  border-bottom: 2px solid black;
  padding-bottom: 0;
  margin-bottom: 1rem;
}
