html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.nav {
  display: flex;
  justify-content: space-between;
  height: 10vh;
  margin: .5rem 3rem;
  /* width: 100vw;
  position: fixed;
  top: 0;
  left: 0; */
}

.nav__logo {
  max-width: 3rem;
}

.nav__list {
  width: 25%;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

.nav__link {
  text-decoration: none;
}

.footer {
  display: flex;
  height: 20vh;
  justify-content: center;
}

.footer__contact {
  margin: 1rem;
}

.footer__hours {
  margin: 1rem;
}

.footer__social {
  margin: 1rem;
}

.footer__schedule {
  column-count: 3;
}
