html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  font-family: Verdana, Tahoma, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5vh;
  padding: 1rem 3rem;
  background-color: #fff;
  /* width: 100vw;
  position: fixed;
  top: 0;
  left: 0; */
}

.nav__logo {
  max-width: 3rem;
}

.nav__list {
  width: 25%;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  margin: 0;
  padding: 0.5rem;
}

.nav__link {
  text-decoration: none;
  color: #335576;
}

.nav__link--active{
  border-bottom: 2px solid #db7a4e;
  padding-bottom: .5rem;
}

/* .nav *{margin-top: 0;} */

.footer {
  
  height: 20vh;
  
  background-color: #fefaf5;
  /* padding: 1rem 3rem; */
 
  width: 100vw;
}

.footer__wrapper{
display: flex;
justify-content: space-between;
 max-width: 855px;
  margin: 0 auto;
}

.footer__title,
.footer__details {
  color: #335576;
  padding-bottom: .5rem;
}

.footer__type {
  color: #db7a4e;
  text-transform: uppercase;
}

.footer__contact {
  margin: 1rem;
}

.footer__hours {
  margin: 1rem;
}

.footer__type {
  margin: 0;
  font-weight: 400;
  font-size: .75rem;
}

.footer__social {
padding: 1rem;
}

.footer__schedule {
  column-count: 3;
  margin: 0;
  padding: 0;
}

.footer__icon {
  margin: 1rem 1rem 0 0;
  max-width: 2rem;
  max-height: 2rem;
}

.footer *{margin-bottom: 0;}
